[Unit]
Description=Run Wikidot manifest scan every 10 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true
Unit=wymbot-search-sync.service

[Install]
WantedBy=timers.target
